<!-- <app-layout></app-layout> -->
<!-- <app-sidebar [navbar]="navbar"></app-sidebar>
<app-topbar (activeNav)="navToggle($event)"></app-topbar> -->
<router-outlet></router-outlet>

<!-- <div class="alas">
  <div style="display: flex; flex-direction: row; width: 100%; margin: 1rem 2rem 1rem 2rem; flex-wrap: wrap; justify-content: space-between;">
    <h1>Saldo Kas (Proyeksi vs Realisasi)</h1>
    <p-calendar class="p-inputtext-sm" placeholder="range" inputId="basic" [(ngModel)]="date1"></p-calendar>
  </div>
  <div class="kartu">
    <div class="deskripsi">
      <div class="penjelasan">
        <div class="topik">Total Saldo Kas</div>
        <div class="total">345.901k</div>
        <div class="ket positif"><i class="pi pi-angle-double-up"></i> 15% dibanding bulan lalu</div>
      </div>
      <div class="penjelasan">
        <div class="topik">Rata-rata deviasi Kas</div>
        <div class="total">45.701k</div>
        <div class="ket positif"><i class="pi pi-angle-double-up"></i> 5% dibanding bulan lalu</div>
      </div>
      <div class="penjelasan">
        <div class="topik">Volatilitas Proyeksi deviasi Kas</div>
        <div class="total">5.801k</div>
        <div class="ket negatif"><i class="pi pi-angle-double-down"></i> 20% dibanding bulan lalu</div>
      </div>
    </div>
    <div class="bagan">
        <p-chart type="line"  [data]="basicData" [options]="basicOptions"></p-chart>
    </div> 
  </div>
</div>
<div class="alas" style="margin-top: 2rem;">
  <div style="display:flex; flex-direction: column; background-color: aqua; flex-grow:1;">
    <div style="display:flex;">
      <div>JUDUL</div>
      <div>BUTTON</div>
    </div>
    <div> KOTAK </div>
  </div>
  <div style="display:flex; flex-direction: column; background-color:blueviolet; flex-grow: 1;">
    <div> JUDUL </div>
    <div> KOTAK </div>
  </div>
</div> -->