<div class="navbar" [ngClass]="{'show': navbar}">
  <!-- [ngClass]="{'active': navbar}" -->
  <a class="logo">LOGO</a>
  <nav>
    <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><i class="pi pi-th-large"></i> Dashboard 1</a>
    <a routerLink="users" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><i class="pi pi-th-large" routerLink="users"></i> Dashboard 2</a>
    <a routerLink="users/add" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><i class="pi pi-plus" routerLink="users/add"></i> Add</a>
  </nav>
</div>