<div class="sbar">
  <a class="logo">LOGO</a>
  <ul>
    <a routerLink=""><li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><i class="pi pi-home"></i> Dashboard</li></a>
    <a routerLink="users"><li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><i class="pi pi-user" routerLink="users"></i> Dashboard</li></a>
    <a routerLink="users/add"><li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><i class="pi pi-plus" routerLink="users/add"></i> Add</li></a>
  </ul>
</div>