.sbar {
  background-color: white;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 21.75rem;
  box-shadow: -20px 0 30px;
}

.sbar .logo {
  text-align: center;
  background-color: aqua;
  width: 100%;
  font-size:2em;
}

.sbar ul{
  list-style: none;
  margin: auto;
  width:80%;
  font-size: 1.2em;
  padding: 0;
}

.sbar a:link,
.sbar a:visited {
  color: black;
  text-decoration: none;
}
.sbar li:hover a:link {
  color: white;
  text-decoration: none;
}

.sbar li {
  height: 3rem;
  line-height: 3rem;
  text-align: left;
  padding-left: 1em;
  padding-right: 1em;
}

.sbar .pi {
  font-size: 1em;
}

.sbar li:hover,
.sbar .active {
  background-color: #EDF1FA;
  color: #1455cd;
  border-width: 0rem 0.5rem 0rem 0.5rem;
  border-style: none solid none solid;
}

@media (max-aspect-ratio: 4/3) {
  .sbar {
    position: relative;
    top: 0;
    width: 100%;
    padding-top: 0.5rem;
    height: auto;
    display: block;
    text-align: center;
    box-shadow: none;
  }
  .sbar .logo {
    position: static;
    text-align: center;
    padding: 0;
    margin: 0;
  }
  .sbar ul {
    position:static;
    top: 0;
    left: 0;
    margin:0;
  }
}