<div class="navbar" [ngClass]="{'show': navbar}">
  <!-- [ngClass]="{'active': navbar}" -->
  <div class="flex align-content-end hover:bg-blue-100">
    <div class="account">
      <div class="ava">
        <img src="../../assets/img/ava-example.jpg">
      </div>
      <div>
        <div class="name">Akmal Yusuf Abiyoga</div>
        <div class="job">Dit. SITP</div>
      </div>
    </div>
  </div>
    <a class="logo">LOGO</a>
  <nav>
    <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><i class="pi pi-th-large"></i> Dashboard 1</a>
    <a routerLink="users" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><i class="pi pi-th-large" routerLink="users"></i> Dashboard 2</a>
    <a routerLink="users/add" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><i class="pi pi-plus" routerLink="users/add"></i> Add</a>
  </nav>
</div>
<div class="toolbar">
  <div class="toggle">
    <a href="#" (click)="navToggle()"><i *ngIf="!this.navbar" class="pi pi-bars"></i><i *ngIf="this.navbar" class="pi pi-times"></i></a>
  </div>
  <div class="account">
    <div class="ava">
      <img src="../../assets/img/ava-example.jpg">
    </div>
    <div>
      <div class="name">Akmal Yusuf Abiyoga</div>
      <div class="job">Dit. SITP</div>
    </div>
  </div>
  <a class="logo"><i class="pi pi-prime"></i> BeeEye</a>
</div>